---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TrustStrip from '../components/TrustStrip.astro';
import Services from '../components/Services.astro';
import OrthoFeature from '../components/OrthoFeature.astro';
import MaternityFeature from '../components/MaternityFeature.astro';
import Doctors from '../components/Doctors.astro';
import Facilities from '../components/Facilities.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main id="main-content">
		<Hero />
		<TrustStrip />
		<Services />
		<OrthoFeature />
		<MaternityFeature />
		<Doctors />
		<Facilities />
		<Testimonials />
		<FAQ />
		<Contact />
	</main>
	<Footer />
</Layout>
